theHarvester
Recon-ng
SpiderFoot
Shodan & Censys
Scrapy
BeautifulSoup
Selenium
OnionSearch
TorBot
OnionScan
Tor
Sherlock
Holehe
Social Analyzer
h8mail
Bitquery
Blockchain Explorer
ExifTool
Metagoofil
Tor + ProxyChains
SQLite
google earth?
